bstore
.DS_Store
conf.yml
keys.env

# Logs and Testing Files
*.log
*.gz
*.png
*.mov
*.zst
*.pdf
*.txt
*.json
*.csv
*.sh

# Testing Directories
input/
output/
pub/
priv/

# Production Binaries
linux-amd64/
darwin-amd64/
windows-amd64/
linux-arm64/
darwin-arm64/
windows-arm64/