# Logs and Testing Files
.DS_Store
keys.env
notes.md
*.log
*.gz
*.png
*.mov
*.zst
*.pdf
*.txt
*.json
*.csv
*.sh
*.keys

# Testing Directories
input/
output/
pub/
priv/
bins/

# Production Binaries
prod/